.about-me {
  text-align: center;
}

.jumbotron {
  background-size: cover;
  background-color: green;
  padding-bottom: 5%;
  padding-top: 5%;
}

.img {
  border-radius: 50%;
}

.my-form {
  margin-left: 50px;
  margin-right: 50px;
}

.my-image {
  justify-content: center;
  place-content: center;
}

.order-box {
  background-color: greenyellow;
  border-radius: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
}

.for-padding {
  padding: 2%;
}

.notice-board {
  padding: 2%;
  margin: 2%;
  border-radius: 5%;
  border-style: solid;
  border-width: thick;
  border-color: gold;
  background-color: azure;
}

.logo-image {
  border-radius: 10%;
  border-style: solid;
  border-width: thick;
  border-color: gold;
}